<% layout("layouts/boilerplate.ejs") %>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
</head>

<body>
  <div
    class="card"
    style="margin-top: 40px; margin-left: 20px; margin-right: 20px"
  >
    <div class="card shadow">
      <h5
        class="card-title text-nowrap text-capitalize mb-0 col-sm-4 text-muted"
        style="margin-top: 20px; margin-bottom: 0px"
      >
        Search Employee Profiles
      </h5>
      <div class="input-group input-group-sm w-auto justify-content-end">
        <form action="/searchemployees">
          <input
            class="form-control form-control"
            type="search"
            name="searchdata"
            style="margin-left: -15px; padding-right: 10px; margin-right: 500px"
            placeholder="Search..."
          />
        </form>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Employee ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">CNIC</th>
              <th scope="col">Contact Number</th>
              <th scope="col">Job Name</th>
              <th scope="col" class="text-center">Status</th>
            </tr>
          </thead>
          <tbody>
            <% rows.forEach(row => { %>
            <tr>
              <th scope="rownum"><%=row.EmpID%></th>
              <td class="text-truncate" style="max-width: 200px">
                <%=row.FirstName%><%= " "%><%=row.LastName%>
              </td>
              <td class="text-truncate" style="max-width: 200px">
                <%=row.Email%>
              </td>
              <td><%=row.CNIC%></td>
              <td><%=row.Phone%></td>
              <td><%=row.JobName%></td>
              <td class="text-center">
                <% if (row.Enddate){ %> <%=row.Inactive%> <% } else { %>
                <%=row.Active%> <% } %>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div style="margin: 20px">
    <a
      href="/register"
      class="btn btn-secondary"
      style="width: 100%; background-color: #5c6ac4"
    >
      Register an Employee
    </a>
  </div>
</body>
