<% layout("layouts/boilerplate.ejs") %>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
</head>

<body>
  <div
    class="card"
    style="margin-top: 40px; margin-left: 20px; margin-right: 20px"
  >
    <div class="card shadow">
      <h5
        class="card-title text-nowrap text-capitalize mb-0 col-sm-4 text-muted"
        style="margin-top: 20px; margin-bottom: 0px"
      >
      Vehicle Details
      </h5>
      
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Vehicle Plate Number</th>
              <th scope="col">Number of Seats</th>
              <th scope="col">Color</th>
              <th scope="col">Model</th>
            </tr>
          </thead>
          <tbody>
            <% for(let row of rows) { %>
            <tr>
              <td><%=row.VehicleNo%></td>
              <td><%=row.NumOfSeats%></td>
              <td><%=row.Color%></td>
              <td><%=row.Model%></td>
              
              <td><form
                id="delete_vehicle_<%=row.VehicleNo%>_form"
                action="/vehicle/<%=row.VehicleNo%>?_method=DELETE"
                method="POST">
                  <a
                    onclick="document.getElementById('delete_vehicle_<%=row.VehicleNo%>_form').submit();">
                    <i class="material-icons">&#xE872;</i>
                  </a>
                </form></td>
            </tr>
            <% } %>
            <tr>
              
<form action="/vehicle/new" id="vehicle_register" method="POST"  novalidate class="needs-validation">
     <td><input
      class="form-control"
      type="text"
      id="vehicle_no"
      name="vehicle_no"
      placeholder="Vehicle No"
      required
    />
  </td>
    
  <td>
    <input
      class="form-control"
      type="number"
      id="total_seats"
      name="total_seats"
      placeholder="Seats"
      required
    />
  </td>
<td>
  <input
    class="form-control"
    type="text"
    id="color"
    name="color"
    placeholder="Color"
    required
  /></td>
 

<td> <input
  class="form-control"
  type="text"
  id="model"
  name="model"
  placeholder="Model"
  required
/>

</td>
 

<td> 
  <button class="btn btn-success" type="submit" form="vehicle_register">
    Register
  </button>
</td>

</form>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</body>
