<% layout("layouts/boilerplate.ejs") %>
<body id="page-top">
  <div id="wrapper">
        <div class="container-fluid mt-3">
          <div class="card shadow">
            <div class="card-header py-3">
              <h5 class="m-0">Student <b>Information</b></h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <form action="/searchstudents">
                    <input
                      class="form-control form-control"
                      type="search"
                      name="searchdata"
                      style="margin-left: 740px; padding-right: 10px; margin-right: 500px"
                      placeholder="Search..."
                    />
                  </form>
                </div>
              </div>
              <div
                class="table table-hover table mt-2"
                id="dataTable"
                role="grid"
                aria-describedby="dataTable_info"
              >
                <table class="table my-0" id="dataTable">
                  <thead>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Cms ID</th>
                        <th scope="col">Contact Number</th>
                        <th scope="col">Destination Name</th>
                        <th class="text-center" scope="col">Driver ID</th>
                        <th scope="col" class="text-center">End Date</th>
                      </tr>
                    </thead>
                  </thead>
                  <tbody>
                    <tbody>
                      <%i=1%> <% rows.forEach(row => { %>
                      <tr>
                        <td>
                          <a
                            href="/user/profile/<%=row.Email%>"
                            style="position: absolute; display: block; width: 98%"
                            ><%=i++%></a
                          >
                        </td>
                        <td class="text-truncate" style="max-width: 500px">
                          <%=row.FirstName%><%= " "%><%=row.LastName%>
                        </td>
                        <td class="text-truncate" style="max-width: 500px">
                          <%=row.Email%>
                        </td>
                        <td><%=row.CmsID%></td>
                        <td><%=row.Phone%></td>
                        <td><%=row.DestName%></td>
                        <td class="text-center"><%=row.DriverID%></td>
                        <td class="text-center"><%=(row.Enddate)%></td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>

  </div>
  <div style="margin: 20px">
    <a
      href="/register"
      class="btn btn-secondary"
      style="width: 100%; background-color: #5c6ac4"
    >
      Register a Student
    </a>
  </div>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/bs-init.js"></script>
  <script src="assets/js/theme.js"></script>
</body>