<% layout("layouts/boilerplate.ejs") %>
    
  
    
    <style>
  .border-md {
      border-width: 2px;
  }
  
  body {
      min-height: 100vh;
  }
  
  .form-control:focus {
      box-shadow: none;
  }
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
      background-color:#5c6ac4 !important;
  }
    </style>

  
      
  
    <div class="container">
      <div class="row py-5 mt-4 justify-content-center">
          <div class="col-md-5 pr-lg-5 mb-5 mb-md-0 align-top ">
              <img src="https://bootstrapious.com/i/snippets/sn-registeration/illustration.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
              <h1>Register an Account</h1>
              </p>
          </div>
  
          <div class="card align-right" style="width: 41rem;">
            <div class="card-body">
              
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a href="#student" id = "student-tab" class="nav-link active" data-toggle="tab">Student</a>
                </li>
                <li class="nav-item">
                  <a href="#driver" id = "driver-tab" class="nav-link" data-toggle="tab">Driver</a>
                </li>
                <li class="nav-item">
                  <a href="#employee" id = "employee-tab" class="nav-link" data-toggle="tab" >Employee</a>
                </li>
              </ul>
  
  
              <div class="tab-content">
                <div class="tab-pane fade show active" id="student" role="tabpanel">
  
                  <div class="col-md-7 col-lg-11 ml-auto" style="padding: 30px">
                    <form action="/student/register" method="POST" name="student_register" id="student_register" novalidate class="needs-validation">
                      <div class="row">
                        <!-- First Name -->
                        <div class="input-group col-lg-6 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-user text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="first_name"
                            type="text"
                            name="first_name"
                            placeholder="First Name"
                            class="form-control bg-white border-left-0 border-md"
                            required
                          />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Last Name -->
                        <div class="input-group col-lg-6 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-user text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="last_name"
                            type="text"
                            name="last_name"
                            placeholder="Last Name"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                            <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- CMS -->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-key text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="cms"
                            type="number"
                            name="cms"
                            placeholder="Cms ID"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                            <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Email Address -->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-envelope text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="email"
                            type="email"
                            name="email"
                            placeholder="Email Address"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                            <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Address -->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-building text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="address"
                            type="text"
                            name="address"
                            placeholder="Home Address"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                            <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Phone Number -->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-phone-square text-muted"></i>
                            </span>
                          </div>
                          <label
                            id="countryCode"
                            name="countryCode"
                            style="max-width: 80px; max-height: 38px"
                            class="form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted"
                          >
                            +92
                          </label>
                          <input
                            id="phnumber"
                            type="tel"
                            name="phnumber"
                            placeholder="Phone Number"
                            class="form-control bg-white border-md border-left-0 pl-3"
                            required
                            />
                            <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Department -->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-black-tie text-muted"></i>
                            </span>
                          </div>
                          <select
                            id="department"
                            name="department"
                            class="form-control custom-select bg-white border-left-0 border-md"
                            required
                          >
                            <option value="" disabled selected hidden>Choose your Department</option>
                            <option value="SEECS">SEECS</option>
                            <option value="SCME">SCME</option>
                            <option value="IGIS">IGIS</option>
                            <option value="NBS">NBS</option>
                            <option value="S3H">S3H</option>
                            <option value="SADA">SADA</option>
                          </select>
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!--Starting Date-->
                        <div class="row mb-4">
                          <label for="inputDate" class="col-lg-4 col-form-label text-muted"
                            >Starting Date</label
                          >
                          <div class="col-lg-8">
                            <input
                              type="date"
                              name="starting_date"
                              id="starting_date"
                              class="form-control bg-white border-left-1 border-right-1 border-md"
                              required
                              />
                              <div class="valid-feedback">Looks good</div>
                          </div>
                        </div>
                  
                        <!-- Dest Name -->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-bus text-muted"></i>
                            </span>
                          </div>
                          <select
                            id="dest_name_student"
                            name="dest_name"
                            class="form-control custom-select bg-white border-left-0 border-md select_dest"
                            required>
                            <option value="" selected hidden disabled>Choose your Destination</option>
                            <% for(let destination of destinations){ %> 
                            <option value="<%=destination.DestName%>"><%=destination.DestName%></option>
                             <% } %> 
                          </select>
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!--Timings-->
                        <div class="col-lg-12 mb-3">
                          <label
                            id="timings"
                            name="shiftimings"
                            style="max-width: 90px; max-height: 38px"
                            class="form-control font-weight-bold text-muted d-inline"
                          >
                            Timings</label
                          >
                          <select
                            id="timings_student"
                            name="timings"
                            class="form-control custom-select bg-white border-left-0 border-md d-inline select_timing_student"
                            required>
                            <option value=""selected hidden disabled>Available Options</option>
                          </select>
                          </div>
                        
                  
                        <!-- Password -->
                        <div class="input-group col-lg-6 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-lock text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="password"
                            type="password"
                            name="password"
                            placeholder="Password"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                            <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        
                  
                        <!-- Submit Button -->
                        <div class="form-group col-lg-12 mx-auto mb-0">
                          <button class="btn btn-primary btn-block py-2 font-weight-bold" form="student_register" type="submit">Register</button>
                        </div>
                      </div>
                    </form>
                  </div>
  
                </div>
  
                <div class="tab-pane fade" id="driver" role="tabpanel">
  
                  <div class="col-md-7 col-lg-11 ml-auto" style="padding: 30px">
                    <form action="/driver/register" id="driver_register" name="driver_register" method="POST" novalidate class="needs-validation">
                      <div class="row">
                        <!-- First Name -->
                        <div class="input-group col-lg-6 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-user text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="first_name"
                            type="text"
                            name="first_name"
                            placeholder="First Name"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Last Name -->
                        <div class="input-group col-lg-6 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-user text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="last_name"
                            type="text"
                            name="last_name"
                            placeholder="Last Name"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- CNIC -->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-id-card text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="cnic"
                            type="text"
                            name="cnic"
                            placeholder="CNIC"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Email Address -->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-envelope text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="email"
                            type="email"
                            name="email"
                            placeholder="Email Address"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Address -->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-building text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="address"
                            type="text"
                            name="address"
                            placeholder="Home Address"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Phone Number -->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-phone-square text-muted"></i>
                            </span>
                          </div>
                          <label
                            id="countryCode"
                            name="countryCode"
                            style="max-width: 80px; max-height: 38px"
                            class="form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted"
                          >
                            +92
                          </label>
                          <input
                            id="phnumber"
                            type="tel"
                            name="phnumber"
                            placeholder="Phone Number"
                            class="form-control bg-white border-md border-left-0 pl-3"
                            required
                            />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!--Starting Date-->
                        <div class="row mb-4">
                          <label for="inputDate" class="col-lg-4 col-form-label text-muted"
                            >Starting Date</label
                          >
                          <div class="col-lg-8">
                            <input
                              id="date"
                              name="date"
                              type="date"
                              class="form-control bg-white border-left-1 border-right-1 border-md"
                              required
                              />
                            <div class="valid-feedback">Looks good</div>
                          </div>
                        </div>
                  
                        <!-- Route -->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-bus text-muted"></i>
                            </span>
                          </div>
                          <select
                            id="route_driver"
                            name="route"
                            class="form-control custom-select bg-white border-left-0 border-md"
                          required
                            >
                            <option value=""hidden disabled selected>Select Route</option>
                            <% let length=destinations_route.length %> 
                            <% for (let i=0;i<length/4;i++){ %> 
                            <option value="<%=destinations_route.shift()%>"><%=destinations_route.shift()%> - <%=destinations_route.shift()%> - <%=destinations_route.shift()%></option>
                            <%} %> 
                          </select>
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!--Timings-->
                        <div class="col-lg-12 mb-3">
                          <label
                            id="timings"
                            name="shiftimings"
                            style="max-width: 90px; max-height: 38px"
                            class="form-control font-weight-bold text-muted d-inline"
                          >
                            Timings</label
                          >
                          <select
                            id="timings_driver"
                            name="timings"
                            class="form-control custom-select bg-white border-left-0 border-md d-inline select_timing_driver"
                            required>
                            <option value=""selected hidden disabled>Available Shifts</option>
                          </select>
                          </div>
                  
                        <!--vehicle designation-->
                        <div class="col-lg-12 mb-3">
                          <label
                            id="vehicle_label"
                            name="vehicle_label"
                            style="max-width: 90px; max-height: 38px"
                            class="form-control font-weight-bold text-muted d-inline"
                          >
                          Designate Vehicle</label
                          >
                          <select
                            id="vehicle"
                            name="vehicle"
                            class="form-control custom-select bg-white border-left-0 border-md d-inline select_timing_driver"
                            required>
                            <option value=""selected hidden disabled>Available Vehicles</option>
                            <%   for(let vehicle of vehicles){    %>
                              <option value="<%=vehicle.VehicleNo%>"><%=vehicle.Model%> - <%=vehicle.VehicleNo%> - <%=vehicle.NumOfSeats%> Seats</option>
                            <% } %> 
                            </select>
                          </div>
                        
                        <!-- Password -->
                        <div class="input-group col-lg-6 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-lock text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="password"
                            type="password"
                            name="password"
                            placeholder="Password"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Submit Button -->
                        <div class="form-group col-lg-12 mx-auto mb-0">
                          <button class="btn btn-primary btn-block py-2 font-weight-bold" type="submit" form="driver_register">Register</button>
                        </div>
                      </div>
                    </form>
                  </div>
  
                  
                </div>
  
                <div class="tab-pane fade" id="employee" role="tabpanel">
  
                  <div class="col-md-7 col-lg-11 ml-auto" style="padding: 30px">
                    <form action="/employee/register" id="employee_register" method="POST" novalidate class="needs-validation">
                      <div class="row">
                        <!-- First Name -->
                        <div class="input-group col-lg-6 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-user text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="first_name"
                            type="text"
                            name="first_name"
                            placeholder="First Name"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Last Name -->
                        <div class="input-group col-lg-6 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-user text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="last_name"
                            type="text"
                            name="last_name"
                            placeholder="Last Name"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- CNIC -->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-id-card text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="cnic"
                            type="text"
                            name="cnic"
                            placeholder="CNIC"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Email Address -->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-envelope text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="email"
                            type="email"
                            name="email"
                            placeholder="Email Address"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Address -->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-building text-muted"></i
                            ></span>
                          </div>
                          <input
                            id="address"
                            type="text"
                            name="address"
                            placeholder="Home Address"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Phone Number -->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-phone-square text-muted"></i>
                            </span>
                          </div>
                          <label
                            id="countryCode"
                            name="countryCode"
                            style="max-width: 80px; max-height: 38px"
                            class="form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted"
                          >
                            +92
                          </label>
                          <input
                            id="phnumber"
                            type="tel"
                            name="phnumber"
                            placeholder="Phone Number"
                            class="form-control bg-white border-md border-left-0 pl-3"
                            required
                            />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!--Starting Date-->
                        <div class="row mb-4">
                          <label for="inputDate" class="col-lg-4 col-form-label text-muted"
                            >Hire Date</label
                          >
                          <div class="col-lg-8">
                            <input
                              id="date"
                              name="date"
                              type="date"
                              class="form-control bg-white border-left-1 border-right-1 border-md"
                              required
                              />
                            <div class="valid-feedback">Looks good</div>
                          </div>
                        </div>
                  
                        <!--Job Name-->
                        <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-bus text-muted"></i>
                            </span>
                          </div>
                          <select
                            id="job_name"
                            name="job_name"
                            class="form-control custom-select bg-white border-left-1 border-md"
                            required
                            >
                            <option value="" hidden disabled selected>Job Type</option>
                            <option value="Accountant">Accountant</option>
                            <option value="Human Resources">Human Resources</option>
                            <option value="Superviser">Superviser</option>
                          </select>
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Password -->
                        <div class="input-group col-lg-6 mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                              <i class="fa fa-lock text-muted"></i>
                            </span>
                          </div>
                          <input
                            id="password"
                            type="password"
                            name="password"
                            placeholder="Password"
                            class="form-control bg-white border-left-0 border-md"
                            required
                            />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                  
                        <!-- Submit Button -->
                        <div class="form-group col-lg-12 mx-auto mb-0">
                          <button class="btn btn-primary btn-block py-2 font-weight-bold" type="submit" form="employee_register">Register</button>
                        </div>
                      </div>
                    </form>
                  </div>
    
                </div>
              
              </div>
  
  
            </div>
          </div>
        
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    


    <script >
      $(document).ready(function() {
          $('#dest_name_student').on('change', function() {
               var dest_name = this.value;
               $("#timings_student").html('');
               $.ajax({
                  url: "http://localhost:3000/student/register/get_timings",
                  type: "POST",
                  data: {dest_name},
                  dataType: 'json',
                  success: function(result) {
                      $('#timings_student').html('<option value="" selected hidden disabled>Available Shifts</option>');
                      for(let timing of result.timings[0]){
                        $("#timings_student").append(`<option value="${timing.ShiftTime}">${timing.ShiftTime}</option>`);
                      }
                      }});});}); 
      </script>
      <script >
        $(document).ready(function() {
            $('#route_driver').on('change', function() {
                 var route_id = this.value;
                 $("#timings_driver").html('');
                 $.ajax({
                    url: "http://localhost:3000/driver/register/get_timings",
                    type: "POST",
                    data: {route_id},
                    dataType: 'json',
                    success: function(result) {
                        $('#timings_driver').html('<option value="" selected hidden disabled>Available Shifts</option>');
                        for(let timing of result.timings[0]){
                          $("#timings_driver").append(`<option value="${timing.ShiftTime}">${timing.ShiftTime}</option>`);
                        }
                        }});});}); 
        </script>