<% layout("layouts/boilerplate.ejs") %>
<div class="container-fluid" style="padding-top: 20px">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <i class="mdi me-2 mdi-file-multiple"></i> Student Invoice List
        </h4>
        <div class="table-responsive">
          <table class="table user-table">
            <thead>
              <tr>
                <th class="border-top-0">Cms ID</th>
                <th class="border-top-0">Challan Number</th>
                <th class="border-top-0">Transaction ID</th>
                <th class="border-top-0">Name</th>
                <th class="border-top-0">Amount</th>
                <th class="border-top-0">Request Date</th>
                <th></th>
                <th class="border-top-0">Action</th>
              </tr>
            </thead>
            <tbody>
              <% rows.forEach(row => { %>
              <tr>
                <td><%=row.UserID%></td>
                <td><%=row.ChallanNum%></td>
                <td><%=row.TransactionID%></td>
                <td><%=row.UserName%></td>
                <td><%=row.PaidAmount%></td>
                <td><%=row.RequestDate%></td>
                <td>
                  <span class="badge bg-success"><%=row.PaidStatus%></span>
                </td>
                <td>
                  <span class="table-remove "
                ><a
                  type="button"
                  class="btn btn-primary btn-rounded btn-sm mb-1"
                  href="/student/invoice/<%=row.P_requestID%>/Paid"
                >
                  Accept
              </a></span
              >
              <span class="table-remove "
                ><a
                  type="button"
                  class="btn btn-danger btn-rounded btn-sm mt-1"
                  href="/student/invoice/<%=row.P_requestID%>/Unpaid"
                >
                  Reject
                </a></span
              >
                </td>
                <% }) %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
